<!DOCTYPE HTML>
<html>
	<head>
		<title>J. Aaron Slade</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Favicon-->
		<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<!--Stylesheets and Scripts-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/style.css"/>
		<script src="assets/js/vue.js"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.png" alt="" /></span>
							<h1 id="title">Aaron Slade</h1>
							<p>Software Developer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/jsladea/" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/jaaronslade" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="mailto:jaaronslade@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					
				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- About Me -->
					<section id="about" class="one">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/about-me-img.png" alt="image of me" /></a>

							<p>
								I love spending time with family and 
								friends, and being outside.
								<br>
								If you're looking for a custom-built website or application
								 <a class="plain-text-link" href="#contact">contact me</a> using the information below.
							</p>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<div id="main-grid-container">
								<article :id="gridItem.id" :class="{'grid-item': !gridItem.isHeader, 'grid-header': gridItem.isHeader, 'item': !gridItem.isHeader}" @click="!gridItem.isHeader ? navigate(gridItem.link) : ''" v-for="gridItem in mainGridItems">
									<div v-if="gridItem.isHeader" class="grid-header-text">{{gridItem.text}}</div>
									<img v-if="!gridItem.isHeader" :src="gridItem.imgSrc">
									<header v-if="!gridItem.isHeader">
										<h3>{{gridItem.text}}</h3>
									</header>
								</article>
								
							</div>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="three">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>
								To request a quote for a custom website or application, feel free to contact me at 
								<a class="mail-link" href="mailto:jaaronslade@gmail.com">jaaronslade@gmail.com</a>.
							</p>

							<!--
							Once I upgrade hosting platforms
							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>
						-->
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="script.js"></script>
	</body>
</html>