<!DOCTYPE html>
<html>
<head>
    <!--Name: James Slade-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">


    <!--Vue.js Framework-->
    <script src="https://unpkg.com/vue@next"></script>

    <title>International</title>
</head>

<body>
    <div id="app-root">
        <!--Navigation-->
        <nav class="nav navbar  navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">KAN News</a>

                <!--Toggler for navbar collapse-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Navigation Links-->
                <div id="navmenu" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="forecast.html" class="nav-link">Forecast</a>
                        </li>
                        <li class="nav-item dropdown-nb">
                            <span class="nav-link">News</span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="international.html">International News</a>
                                <a class="dropdown-item" href="local.html">Local News</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            
        </nav>

        

        <section id="main-content" class="my-0">

            

            <div class="container-fluid">
                    

                    <div id="content"  class="row">

                        
                        <section class="col-xs-12 col-md-9">

                            <div class="container ps-5 mt-3">

                                <section id="home-text-content" class="mt-4 p-1 mb-0">
                                    <header>
                                        <h2 class="mb-3">International News</h2>
                                    </header>

                                    <div v-for="newsStory in newsStories">
                                        <article class="mb-5" v-if="!newsStory.local">
                                            <a :href="'../' + newsStory.pageUrl" class="text-decoration-none">
                                                <span class="fs-4  text-dark mb-1">{{newsStory.title}} - {{newsStory.date}}</span>
                                                <br>
                                                <img :src="'../' + newsStory.imageUrl" class="large-story-img" alt="News story image">
                                                <p class="text-dark pb-1">{{newsStory.description}}</p>
                                            </a>
                                        </article>
                                    </div>
                                    

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam maecenas sed enim ut sem viverra. 
                                        Vitae tortor condimentum lacinia quis vel. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Fermentum posuere urna nec tincidunt. 
                                        Tortor vitae purus faucibus ornare suspendisse sed. Aliquet risus feugiat in ante metus dictum. Etiam non quam lacus suspendisse. 
                                        Urna condimentum mattis pellentesque id nibh tortor. 
                                        Id leo in vitae turpis massa sed elementum tempus. Sed libero enim sed faucibus turpis in eu. Vel facilisis volutpat est velit egestas. At augue eget arcu dictum. 
                                        Vitae ultricies leo integer malesuada nunc vel risus. Ultricies tristique nulla aliquet enim tortor at. Duis ultricies lacus sed turpis tincidunt id aliquet risus. 
                                        Ornare aenean euismod elementum nisi quis eleifend.
                                    </p>

                                </section>
                                    
                            </div>
                        </section>
                        
                        <!--Recent News Story Sidebar-->

                        <aside id="story-sidebar" class="d-none d-md-block col-md-3  p-3 bg-dark mb-0">
                            <span class="fs-4 text-light">Recent Stories</span>
                            <hr class="hr-light">
                            <ul class="list-unstyled ps-0">
                                <li class="mb-4 light-hover" v-for="newsStory in newsStories">
                                    <a :href="'../' + newsStory.pageUrl" class="text-decoration-none">
                                        <span class="side-story-header text-light mb-1">{{newsStory.title}} - {{newsStory.date}}</span>

                                        <img :src="'../' + newsStory.imageUrl" class="story-img" alt="News story image">
                                        <p class="text-light pb-1">{{newsStory.description}}</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                    </div>

            </div>

        </section>
        

        

        <footer class="py-3 bg-dark text-light text-center">
            <h3 class="mb-3">KAN News</h3>
            <!--This form does nothing currently-->
            <form id="newsletter-form" action="#">
                <h4>Sign up for our newsletter</h4>
                <div class="input-group mb-1">
                    <span class="input-group-text">Name</span>
                    <input type="text" id="name-box" class="form-control" placeholder="name" aria-label="Name">
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text">Email</span>
                    <input type="email" class="form-control" id="email-box" placeholder="email" aria-label="Email">
                </div>
                <div class="input-group">
                    <button type="submit" class="form-control">Submit</button>
                </div>
            </form>
        </footer>
        

    </div>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
</body>
</html>